.card {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  border: 1px solid #fd7042;
}
.lista {
  color: #fd7042;
  text-align: left;
}
.londra {
  position: relative;
  left: -12px;
}
.btn {
  line-height: 17px;
  position: relative;
  right: -10px;
}

.celsius {
  font-size: 25px;
  font-weight: bold;
  position: relative;
  top: -11px;
  right: -4px;
}

.capital {
  font-size: 40px;
  font-weight: 500px;
}

.col-1 {
  color: #fd7042;
}
.cerca {
  color: #fd7042;
  background-color: #feedd5;
}

.corrente {
  color: black;
  background-color: #feedd5;
}
.nuvola {
  font-size: 70px;
  position: relative;
  left: 65px;
  top: 25px;
}
.giorni {
  text-align: center;
}

.creator {
  position: relative;
  left: 550px;
}
.units {
  font-size: 12px;
  position: relative;
  top: -20px;
}

.gradi {
  font-size: 40px;
}
.detail {
  position: relative;
  bottom: -14px;
  right: 55px;
}

.details {
  position: relative;
  bottom: -14px;
  right: 55px;
}

.input {
  position: relative;
  right: -40px;
}

.currentCity {
  position: relative;
  left: -60px;
  font-size: 30px;
  top: 10px;
  font-weight: bolder;
}

.current {
  position: relative;
  left: 20px;
  top: 1px;
}
