.container {
  max-width: 676px;
  max-height: 451px;
  margin: 0 auto;
  display: block;
}

.card {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  border: 2px solid #ffc93c;
  border-radius: 5px;
}

.londra {
  position: relative;
  left: -12px;
}
.btn {
  line-height: 17px;
  position: relative;
  right: -10px;
}

.celsius {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: -25px;
  right: 70px;
}

.capital {
  font-size: 60px;
  position: relative;
  left: 20px;
  color: #155263;
  margin-bottom: 0px;
}

.day {
  position: relative;
  left: 20px;
  font-size: 17px;
}

.condition {
  position: relative;
  left: 20px;
  font-size: 18px;
  text-transform: capitalize;
  font-size: 17px;
}

.cerca {
  color: #fd7042;
  background-color: #feedd5;
  position: relative;
  right: 10px;
  top: 4px;
}

.corrente {
  color: black;
  background-color: #feedd5;
}
.nuvola {
  position: relative;
  left: 40px;
  top: 5px;
}
.giorni {
  text-align: center;
}

.creator {
  position: relative;
  left: 550px;
}
.units {
  font-size: 12px;
  position: relative;
  top: -20px;
}

.gradi {
  font-size: 40px;
}
.detail {
  position: relative;
  bottom: -14px;
  right: 55px;
}

.details {
  position: relative;
  bottom: -14px;
  right: 55px;
}

.input {
  position: relative;
  right: -40px;
}

.currentCity {
  position: relative;
  left: -60px;
  font-size: 30px;
  top: 10px;
  font-weight: bolder;
}

.current {
  position: relative;
  right: 80px;
  top: 4px;
  background: #ff9a3c;
}

.creator {
  font-size: 15px;
  position: relative;
  left: 0px;
}

.temperature {
  font-size: 70px;
  position: relative;
  right: 60px;
  top: 10px;
}

.col-4 {
  font-size: 18px;
  position: relative;
  top: 5px;
}

.info {
  position: relative;
  right: 35px;
  top: 10px;
}

.search {
  position: relative;
  left: 20px;
}

.active {
  text-decoration: none;
}
